[submodule "Three-Tier-AWS"]
	path = Three-Tier-AWS
	url = https://github.com/Only1allan/Three-Tier-AWS
[submodule "AI-recipe-generator"]
	path = AI-recipe-generator
	url = https://github.com/Only1allan/ai-recipe-generator.git
[submodule "ML_Models_SageMaker"]
	path = ML_Models_SageMaker
	url = https://github.com/Only1allan/ML-Model-with-SageMaker
[submodule "Document_handling_with_ML"]
	path = Document_handling_with_ML
	url = https://github.com/Only1allan/Document_handling_with_ML.git
[submodule "Gen-AI-On-SageMarker"]
	path = Gen-AI-On-SageMarker
	url = https://github.com/Only1allan/Gen-AI-on-SageMarker/
